{
  "presets": ["@babel/preset-env"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    "transform-optional-chaining",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@routes": "./src/routes",
          "@controllers": "./src/controllers",
          "@models": "./src/models",
          "@consts": "./src/consts",
          // "@utils": "./src/utils",
          // "@config": "./src/config",
          // "@resources": "./src/resources"
        }
      }
    ]
  ]
}
